/Competition.class
/Defense.class
/Match.class
/Match_Generator.class
/Schedule.class
/Schedule_Generator.class
/Table.class
/Team.class
/idkwhatimdoingkappa.class
/Pre_Match.class
/BackgroundPanel.class
/Competition$1.class
